<?xml version="1.0" encoding="utf-8"?>
<!--NephroThai or Center-->
<!--database config-->
<configs>
  <location>2</location>
  <path>D:\42143-01\1195TRTSystem3.4.0.0\Database</path>
  <filename>1195TRTDatabase.mdb</filename>
  <centerid>1195</centerid>
  <centername>เจริญสุขคลินิกเวชกรรม</centername>
</configs>